<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-center">
  
    <%= form.label :content %>
    <%= form.text_area :content, placeholder: "New post..." ,class:"form-control postfield" %>
  

  
    <%= form.submit class:"postfield" %>

  </div>
<% end %>
