<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    At: <%= (post.created_at) %> 
    <% if current_user == post.user %>
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>

