
<div class="row">
  <p id="alert"><%= notice %></p>  
  <div class="col-md-6 form-new-user col-md-offset-3">    
    <h1>Posts</h1> 
    <%=render "form",post: @post =%> <br>
    <% @posts.each do |post| %>
      <ol class='posts'>
        <%= render post =%><br> 
        <li>
          <%= link_to raw('<i class="fa fa-thumbs-up"></i>'), post_likes_path(post), method: :post, class: "btn btn-info" %>
          <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
          <%= link_to (fa_icon "comment"), "#", class: "btn btn-info" %> 
          Comments: <%= post.comments.count =%>
          <div class="row"> <br>
            <%= render "comments/form" ,post: post=%>  
          </div>
        </li>
        
        <% post.comments.each do |comment| %>
          <ol class='posts'>
            <%= render 'comments/comment', comment: comment,post: post =%>
          </ol>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
