<% provide(:title, @user.name) %>

<div class="row">
<p id="notice"><%= notice %></p>
  <aside class="col-md-4">
    <%= render 'user' =%>
    <p>family name:  <%= @user.email%></p>
      <p>Date of birth:  <%= @user.email%></p>
      <p>Location:  <%= @user.email%></p>
      <p>Job:  <%= @user.email%></p>
  </aside>
</div>
<%= link_to 'Edit', edit_user_registration_path(@user)%> |
<%= link_to 'Back', @user %>