<% provide(:title, @user.name) %>

<div class="row">
<p id="notice"><%= notice %></p>
  <aside class="col-md-4">
    <%= render 'user' =%>
    <p>family name:  <%="@user.familly_name" %></p>
      <p>Date of birth:  <%= "@user.birth_day"%></p>
      <p>Location:  <%= "@user.location"%></p>
      <p>Job:  <%="@user.job"%></p>
  </aside>
</div>
<%= link_to 'Edit', edit_user_registration_path(@user)%> |
<%= link_to 'Back', @user %>