<p id="notice"><%= notice %></p>

<h1>Friend Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_requests.each do |friend_request| %>
      <tr>
        <td><%= friend_request.user %></td>
        <td><%= link_to 'Show', friend_request %></td>
        <td><%= link_to 'Edit', edit_friend_request_path(friend_request) %></td>
        <td><%= link_to 'Destroy', friend_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend Request', new_friend_request_path %>
