<header class="navbar navbar-light" style="background-color: #0a206b;">
  <div class="container">
    <%= link_to "FaceBook Clone", authenticated_root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to (fa_icon "home", text: "Home"), authenticated_root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to (fa_icon "bell", text: "News"), authenticated_root_path %></li> 
          <li><%= link_to (fa_icon "envelope", text: "Messages"), authenticated_root_path %></li> 
          <li>
            <%= link_to ((fa_icon "user-plus", text: "Friends" )), friend_requests_index_path%>
            <% if friend_request_notif(current_user) && friend_request_notif(current_user) > 0 %>
              <span id = 'notification'><%= @incoming_count.to_s %></span>
            <% end %>
          </li> 
          <li><%= link_to (fa_icon "users",text: "users"), users_path %></li>
          <li><%= link_to (fa_icon "user", text: "profile"), profile_path(current_user)%></li>   
          <li><%= link_to (fa_icon "sign-out", text: 'Log out'), destroy_user_session_path, method: :delete %></li> 
          
        <% else %>
          <li><%= link_to (fa_icon "sign-in", text: "Log_in"), new_user_session_path %></li> 
          <li><%= link_to (fa_icon "sign-in", text: "Sign Up"), :unauthenticated_root %></li>
          
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="center">
  <% if user_signed_in? %>
    Logged in as: <%= current_user.name %>
  <% end %>
</div>
